In [1]:
print(""" 'techpro education' """)

 'techpro education'

In [2]:
print(""""'""")

"'

In [3]:
print(""""""")

SyntaxError: unterminated string literal (detected at line 1) (3465750001.py, line 1)

In [4]:
print("""""""")

### PEP 8 Rules

In [7]:
3+5 # add space

8

In [8]:
3 + 5

8

In [9]:
print("""Hi everyone """'Hope you are enjoying the class'" so far. thanks for joining me today, how have you been so far?")

Hi everyone Hope you are enjoying the class so far. thanks for joining me today, how have you been so far?

### Comments

In [10]:
# comments in python are created using #

### Variable

In [11]:
"TechPro Education"

'TechPro Education'

In [12]:
bootcamp = "TechPro Education"

In [13]:
bootcamp

'TechPro Education'

In [14]:
print(bootcamp)

TechPro Education

In [15]:
pi_number = 3.14 # float

In [16]:
pi_number

3.14

In [19]:
print(pi_number) # decimal number, in mathematics
# floats, programming terminology

3.14

In [18]:
562 # whole number.
# integer, int

562

In [20]:
age1 = 32

In [21]:
age1

32

#### Variable names

In [22]:
a = 26
b = "Khedim"
c = "Leo"
_name = "Ahmad"

In [23]:
1name = 'Nigina'

SyntaxError: invalid decimal literal (701588906.py, line 1)

In [25]:
.age = 65

SyntaxError: invalid syntax (2601487221.py, line 1)

In [26]:
name_2 = "Fatima"

In [ ]:
name2a = "Merhaba"

* variable's names can only start with an alphabetic character or an underscore(_).
* variable's names can contain numbers as well but not at the beginning.
* variable's names cannot contain special characters, only underscore(_)

In [27]:
name-3 = "Mustafa"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3526035203.py, line 1)

In [28]:
name_3 = "MJ"
Name_3 = "Peter"

In [80]:
print()
Print()

NameError: name 'Print' is not defined

In [29]:
name_3

'MJ'

In [30]:
Name_3

'Peter'

In [31]:
name3 = "Parker"

In [ ]:
$age = 43

In [35]:
NaMe_34 = "Madina"

In [33]:
Print("hello")

NameError: name 'Print' is not defined

In [34]:
print("hello")

hello

#### Assigning multiple values to variables

In [36]:
age1 = 34
age2 = 23

In [ ]:
print()
input()

In [37]:
age3, age4 = 45, 12

In [1]:
age3, age4 = 45

TypeError: cannot unpack non-iterable int object

In [38]:
age3

45

In [39]:
age4

12

In [40]:
age1, age2

(34, 23)

In [41]:
print(age3, age4)

45 12

In [42]:
name_4, name_5, age5 = "London", "Madrid", 25

In [43]:
name_4, age5

('London', 25)

In [44]:
print(name_4, age5)

London 25

In [45]:
print(name_4 age5)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3721866399.py, line 1)

In [46]:
print(name_4, age5)

London 25

In [47]:
name_5,name_6 = "atiqa"

ValueError: too many values to unpack (expected 2)

In [48]:
name_7, name_8 = "Afghanistan", "Iran"

In [49]:
name_7

'Afghanistan'

In [50]:
print(name_8)

Iran

In [3]:
age_6, age_7 = 101,

ValueError: not enough values to unpack (expected 2, got 1)

In [52]:
age_6, age_7 = 101,""

In [53]:
age_7

''

In [54]:
city_1, city_2 = "Istanbul","Istanbul"

In [55]:
city_1

'Istanbul'

In [56]:
city_2

'Istanbul'

In [57]:
city_2 = "Tashkent"

In [58]:
city_2

'Tashkent'

In [ ]:
city_1 = "Kabul"

In [59]:
city_1

'Istanbul'

In [60]:
city_1 = "New Delhi"

In [61]:
city_1

'New Delhi'

In [62]:
city_1, city_2 = "Istanbul","Istanbul"

In [63]:
city_1

'Istanbul'

In [64]:
city_2

'Istanbul'

In [65]:
city_3 = "Izmir"
city_4 = "Tirmiz"

In [66]:
city_5 = city_6 = "Ankara"

In [67]:
city_6

'Ankara'

In [70]:
city_5 = "Istanbul"

In [73]:
# city_6 = "Istanbul"

In [72]:
city_6

'Ankara'

In [74]:
city_6 = city_5

In [75]:
city_6

'Istanbul'

In [76]:
first_name = "Ahmad"
last_name = "Fedayi"

In [77]:
f_n = "Michael"
l_n = 'Kahnwald'

In [78]:
Age_1 = 5 = Age_2

SyntaxError: cannot assign to literal (316038227.py, line 1)

In [79]:
countr_1 = country_2 = country_3 = +91

In [4]:
name_1, name_2 = "Ahmad, Fedayi"

ValueError: too many values to unpack (expected 2)

In [6]:
Jan = Mar = May = Jul = Aug = Oct = Dec = 31
Apr = Jun = Sept = Nov = 30
Feb = 28

#### Data Types

In [81]:
"Hello world"

'Hello world'

In [82]:
4568

4568

In [83]:
4.0

4.0

In [84]:
# booleans:True, False

In [85]:
name = "Sedat"

In [86]:
type(name)

str

In [87]:
print(type(name))

<class 'str'>

In [88]:
age = "45"

In [89]:
type(age)

str

In [149]:
special_char = "%#$"

In [150]:
type(special_char)

str

In [7]:
#  str__>int, the value of string must contain only numericals
#  str__>float, the value of string must only contain numericals

In [ ]:
int, str, float, bool

In [151]:
int(special_char)

ValueError: invalid literal for int() with base 10: '%#$'

In [92]:
type(124)

int

In [93]:
type("Merhaba")

str

In [94]:
type(4.67)

float

In [95]:
print(type(20.0))

<class 'float'>

In [96]:
1,000,000

(1, 0, 0)

In [98]:
1.000.000 # we don't write , or . for bigger numbers, python will consider them as separators

SyntaxError: invalid syntax (666053513.py, line 1)

In [1]:
name = 3,14

In [2]:
type(name)

tuple

In [152]:
1.000

1.0

In [99]:
negative_num = -12

In [100]:
negative_num

-12

In [101]:
type(negative_num)

int

In [102]:
neg_float = -8.9

In [103]:
type(neg_float)

float

In [104]:
type(0.0)

float

In [105]:
pi_num = "3.14"
pi_num

'3.14'

In [106]:
type(pi_num)

str

In [107]:
# Boolean; False, True

In [108]:
type(False)

bool

In [109]:
type(True)

bool

In [110]:
type(true)

NameError: name 'true' is not defined

In [111]:
accident = True
accident_1 = "True"

In [113]:
type(True)

bool

In [114]:
type(accident_1)

str

In [153]:
accident_1

'True'

In [154]:
type(accident_1)

str

booleans written in natural form as True and False can be converted into integer and float using functions int() and float() respectively, but booleans written as strings as "True" and "False" cannot be converted.

In [155]:
float(accident_1)

ValueError: could not convert string to float: 'True'

In [156]:
int(accident_1)

ValueError: invalid literal for int() with base 10: 'True'

#### Variables do not need to be declared with particular type, the type can be changed later on with specific functions

In [115]:
age = str(34)

In [116]:
type(age)

str

In [117]:
age2 = int("45")

In [118]:
age2

45

In [119]:
type(age2)

int

print()
type()
str()
int()
float()
bool()

In [121]:
decimal_num = float(45)

In [122]:
decimal_num

45.0

In [123]:
float("68")

68.0

In [124]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [125]:
float("World")

ValueError: could not convert string to float: 'World'

In [126]:
bool("Hello")

True

In [127]:
bool()

False

In [128]:
bool("")

False

In [129]:
bool(123)

True

In [130]:
bool(0)

False

In [131]:
bool({})

False

In [132]:
# False = 0
# True = 1

In [133]:
int(False)

0

In [134]:
float(False)

0.0

In [135]:
int(True)

1

In [136]:
float(True)

1.0

In [143]:
car = "BMW"

In [138]:
car

'BMW'

In [142]:
del car

NameError: name 'car' is not defined

In [140]:
car

NameError: name 'car' is not defined

In [144]:
del(car)

In [145]:
# there are functions that require you to use (), an there are those that doesn't require, or it is not necessary

In [146]:
car = "Benz"

In [148]:
print(car)

Benz

In [ ]:
name1 = "Benz"
name2 = name1

In [ ]:
name1 = "Benz"
name2 = "name1"