### Type Conversions

#### all type to str

In [1]:
age = 65

In [2]:
type(age)

int

In [3]:
str(age)

'65'

In [4]:
type(age)

int

In [5]:
age = str(age)

In [6]:
type(age)

str

In [7]:
countr_code = 91

In [8]:
countr_code = str(countr_code)

In [9]:
pi_num = 3.14

In [10]:
type(pi_num)

float

In [11]:
pi_num = str(pi_num)

In [12]:
type(3,14) # . is for floats, and comma , is for separation

TypeError: type() takes 1 or 3 arguments

In [1]:
x = False
y = True

In [2]:
print(type(x),type(y))

<class 'bool'> <class 'bool'>

In [3]:
x = str(x)

In [4]:
type(x)

str

In [5]:
x

'False'

#### str --> int, float

In [18]:
name = "Techpro"

In [127]:
int("1.2")

ValueError: invalid literal for int() with base 10: '1.2'

In [129]:
int(float("1.2"))

1

In [131]:
int("1.2") # python doesn't allow this

ValueError: invalid literal for int() with base 10: '1.2'

In [130]:
float("4")

4.0

In [132]:
name

'Techpro'

In [19]:
int(name)

ValueError: invalid literal for int() with base 10: 'Techpro'

In [20]:
float(name)

ValueError: could not convert string to float: 'Techpro'

In [34]:
year_born = "1998"

In [35]:
type(year_born)

str

In [36]:
int(year_born)

1998

In [37]:
type(year_born)

str

In [38]:
year_born = int(year_born)

In [39]:
type(year_born)

int

In [26]:
weight = "1000.50"

In [28]:
weight = float(weight)

In [29]:
type(weight)

float

In [30]:
int("32a")

ValueError: invalid literal for int() with base 10: '32a'

In [31]:
int("-30")

-30

In [32]:
float("-30")

-30.0

In [33]:
int("30#")

ValueError: invalid literal for int() with base 10: '30#'

#### int <--> float

In [40]:
age_2 = 35

In [41]:
type(age_2)

int

In [43]:
age_2 = float(age_2)

In [44]:
type(age_2)

float

In [45]:
x = 5.8

In [46]:
type(x)

float

In [47]:
int(x)

5

In [48]:
int(5.99999)

5

In [49]:
int(5.999999999999999)

5

In [6]:
int(7.89)

7

In [50]:
int(5.9999999999999999) # after 15 digits of 9, it is going to round

6

In [52]:
int(5.9999999999999996)

6

In [53]:
int(22/7)

3

In [55]:
int(float("3.14"))

3

In [7]:
int("3.14")

ValueError: invalid literal for int() with base 10: '3.14'

In [58]:
float(int(3.14)) # the result(outcome) of int operation is 3, and float function is converting 3 into a float 
# number, don't expect it to bring .14 part.

3.0

#### bool --> int, float

In [59]:
x

5.8

In [65]:
x = True # the binary equivalent of True is 1, it means signal on
y = False # the binary equivalent of False is 0, it means signal off

In [62]:
type(x)

bool

In [63]:
type(y)

bool

In [64]:
int(x)

1

In [66]:
float(x)

1.0

In [67]:
int(y) # False

0

In [68]:
float(y)

0.0

#### str,int,float --> bool

In [69]:
bool(30)

True

In [71]:
bool(-45)

True

In [72]:
bool(0)

False

In [73]:
bool()

False

In [74]:
bool(())

False

In [75]:
bool([])

False

In [76]:
bool({})

False

In [77]:
bool(4.0)

True

In [78]:
bool(-32.5)

True

In [79]:
bool(0.0)

False

In [80]:
bool("a")

True

In [81]:
bool(0.0001)

True

In [82]:
bool("#")

True

In [84]:
bool(" ") # in strings, even a blank space can have a value, hence the result True

True

In [83]:
bool("")

False

#### bringing multiple datas in print function

In [85]:
print("Hello all, We are starting our class at: ", 25)

Hello all, We are starting our class at:  25

In [86]:
print("Hello all, We are starting our class at: ", 25, True, 4.0, "It is a sample code")

Hello all, We are starting our class at:  25 True 4.0 It is a sample code

In [87]:
print(25, "students have joined our course so far")

25 students have joined our course so far

In [88]:
print(25 "students have joined us so far")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3281584325.py, line 1)

In [89]:
print(25, "students have joined us so far")

25 students have joined us so far

In [90]:
print(45, 5.6, True, "False")

45 5.6 True False

### Arithmetic Operations

* addition
* subtraction
* multiplication
* division
* floor-division
* modulo
* exponent

In [92]:
5 + 9

14

In [93]:
67 + 125

192

In [94]:
5 - 2

3

In [95]:
5 * 9

45

In [96]:
9 / 3

3.0

if division, or float number is involved, the result will be float, otherwise integer

In [97]:
3.0 + 1

4.0

In [98]:
40 / 7

5.714285714285714

In [99]:
22 / 7

3.142857142857143

In [100]:
22 // 7 # floor division, // --> int(22/7)

3

In [101]:
int(22/7)

3

In [102]:
25 % 3 # modulo, it is the remainder of a division oporation

1

In [133]:
4 % 2

0

In [103]:
5 ** 2 # exponential operation, or exponent, power

25

In [104]:
2 ** 3

8

In [105]:
4 ** 0.5

2.0

BEDMAS - BEMDAS

In [106]:
x = (4 + 2) ** (4 ** (1 * 2 / 2) / 2)

In [107]:
x

36.0

In [108]:
4 / 2

2.0

In [109]:
8 ** (1/3)

2.0

In [110]:
8 ** (2 / 3)

3.9999999999999996

In [112]:
2 / 3

0.6666666666666666

In [113]:
int(8 ** (2 / 3))

3

In [118]:
int(3.9999999999999999)

4

What is the area and circumference of a circle that has a radius 7, consider pi as 3.14.

In [120]:
r = 7
pi = 3.14
# area, circumference
area = pi * r ** 2
circ = 2 * pi * r

In [121]:
area

153.86

In [122]:
circ

43.96

In [123]:
r = 12
pi = 3.14
# area, circumference
area = pi * r ** 2
circ = 2 * pi * r

In [124]:
area

452.16

In [125]:
circ

75.36