In [1]:
z = 5.999999
int(z)

5

In [2]:
z

5.999999

In [8]:
z = 5.999999
z = int(z)

In [9]:
z

5

In [11]:
z = int(6.7)

In [12]:
z

6

In [13]:
z = 5.999999
z = float(int(z))
z

5.0

In [14]:
int(5.9)
float(77)

77.0

In [15]:
print(int(5.9))
float(77)

5

77.0

In [16]:
print(int(5.9))
int(3.12)
float(77)

5

77.0

In [17]:
print(int(5.9))
print(int(3.12))
float(77)

5
3

77.0

In [18]:
x = (24 / 2) - (2 ** (1 * 8 / 2) / 2)
x

4.0

#### find the hypothenuse of a right triangle with sides; a = 5, b = 12
#### bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼nÃ¼ bulan python kodunu yazÄ±n.

In [3]:
a = 5
b = 12
c = (a ** 2 + b ** 2) ** 0.5
print("The hypothenuse of the given triangle is:", c)

The hypothenuse of the given triangle is: 13.0

In [5]:
z

5

In [4]:
a = 5
b = 12
c = (a ** 2 + b ** 2) ** 0.5
print("The hypothenuse of the given triangle is:", int(c))

The hypothenuse of the given triangle is: 13

In [6]:
a = 5
b = 12
d = (a ** 2 + b ** 2) ** (1/2)
print("The hypothenuse of the given triangle is:", d)

The hypothenuse of the given triangle is: 13.0

### Arithmetic operations on variables

In [ ]:
float(22//7)

In [1]:
22//7

3

In [19]:
x = 5

In [20]:
x = x + 6

In [21]:
x

11

In [22]:
x += 6

In [23]:
x

17

In [ ]:
x =+ 6

In [24]:
x

17

In [28]:
x -= 6

In [29]:
x

-1

In [47]:
x

0.0

In [49]:
x = 5

In [50]:
x = x * 5

In [31]:
x += 6

In [32]:
x

5

In [33]:
x *= 5

In [34]:
x

25

In [35]:
x /= 5

In [36]:
x

5.0

In [39]:
x = 25

In [61]:
x = x // 4

In [38]:
x

25

In [40]:
x //= 4

In [41]:
x

6

In [45]:
x += 4

In [46]:
x

18

In [72]:
x =+ 4

In [74]:
x

4

In [77]:
x *= 3

In [78]:
x

36

### print() function.

##### sep = " "; separator

In [47]:
print("New Year")

New Year

In [48]:
print("Happy", "New", "Year")

Happy New Year

In [49]:
print("I","am",25,"years old")

I am 25 years old

In [50]:
print("I","am","an","instructor",sep="")

Iamaninstructor

In [51]:
print("I","am","an","instructor",sep="*")

I*am*an*instructor

In [52]:
print("I","am","an","instructor",sep=None) 
# whenever writing None for separator, don't take any separator from outside, give the default one

I am an instructor

In [53]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [90]:
print("I","am","an","instructor", sep="")

Iamaninstructor

In [54]:
print("I",    "am",    "an",    "instructor")

I am an instructor

In [55]:
print("I    ",    "am",    "an",    "instructor")

I     am an instructor

In [56]:
print("I","am","an","instructor", sep="   ")

I   am   an   instructor

In [93]:
print("I","am","an","instructor", sep="_and_")

I_and_am_and_an_and_instructor

In [94]:
print("Ali", "Ã–mer", "Yusuf",sep= "\U0001F600")

AliðŸ˜€Ã–merðŸ˜€Yusuf

In [95]:
print("I","am","an","instructor", sep=",")

I,am,an,instructor

In [98]:
print("I","am","an","instructor", sep=,)

SyntaxError: invalid syntax (2444808869.py, line 1)

In [104]:
# \n means new line
print("I","am","an","instructor", sep="\n")

I
am
an
instructor

In [99]:
print()

In [100]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### end = "\n",

In [101]:
# \n means new line

In [102]:
print("Samet")
print("Sinan")

Samet
Sinan

In [103]:
print("Samet", end=" ")
print("Sinan")

Samet Sinan

In [105]:
print("Samet", end="*")
print("Sinan")

Samet*Sinan

In [57]:
print("Samet is an active classmate", end="*")
print("Sinan")

Samet is an active classmate*Sinan

In [107]:
print("Hope today's session","is not confusing", end="*")
print("Thanks")

Hope today's session is not confusing*Thanks

In [109]:
print("Elnur")
print("Ekrem")
print("Nigina")

Elnur
Ekrem
Nigina

In [110]:
print("Fatima", end = "@")
print("Jalil", end="!")
print("Manel", end="#")

Fatima@Jalil!Manel#

In [111]:
print("hello world", end = "--")
print("35", 40, "75", sep = "**")
print("The end")

hello world--35**40**75
The end

### input() function

In [60]:
input() # takes any data as string input

'hi'

In [62]:
input("Please provide an input")

'3.4'

In [63]:
input("What is your date of birth?")

'25 August'

In [68]:
customer_dob = input("What is your date of birth?")

In [69]:
customer_dob

'12 September'

In [70]:
customer_age = input("How old are you?")

In [71]:
customer_age

'25'

In [134]:
input("How old are you")

'fifty seven'

In [73]:
float(int(input("How old are you")))

25.0

In [74]:
input()

'True'

In [136]:
input()

'4.23'

In [75]:
age_1 = input("How old are you? Please write in numericals!!")

In [76]:
age_1

'65'

In [77]:
2024 - age_1

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [141]:
2024 - int(age_1)

1998

In [ ]:
age = input("age")
2024 - age

In [145]:
age_3 = int(input("What is your year of birth?"))

In [146]:
age_3

24

In [147]:
type(age_3)

int

In [79]:
age_2 = input("How old are you?")
age_2 = int(age_2)

In [80]:
print(age_2)
print(type(age_2))

67
<class 'int'>

In [81]:
print("Welcome to year_of_birth program!!!")
age = int(input("How old are you"))

Welcome to year_of_birth program!!!

In [82]:
year_o_b = 2024 - age
print("Based on your age, your year_of_birth is:", year_o_b)

Based on your age, your year_of_birth is: 1960

In [83]:
print("Welcome to year_of_birth program!!!")
age = int(input("How old are you"))

Welcome to year_of_birth program!!!

In [84]:
age

47

In [85]:
year_o_b = 2024 - age

In [86]:
year_o_b

1977

In [88]:
print("Based on your age, your year_of_birth is:", year_o_b)

Based on your age, your year_of_birth is: 1977

In [ ]:
age = int(input())

In [ ]:
age = input()
age = int(age)