In [52]:
number = 123

In [55]:
number

123

In [56]:
number + 12

135

In [57]:
number

123

In [58]:
number = number + 12

In [60]:
number

135

In [61]:
name = "Techpro"

In [63]:
name[3] = "p"

TypeError: 'str' object does not support item assignment

In [65]:
name

'Techpro'

In [66]:
name.upper()

'TECHPRO'

In [67]:
name

'Techpro'

In [68]:
name = name.upper()

In [69]:
name

'TECHPRO'

In [70]:
mylist = [1, 2, 3]

In [71]:
mylist[0] = "Ahmad"

In [72]:
mylist

['Ahmad', 2, 3]

In [73]:
mylist.append(12)

In [74]:
mylist

['Ahmad', 2, 3, 12]

In [75]:
mytuple = (1, 2, 3)

In [77]:
mytuple[0] = "True"

TypeError: 'tuple' object does not support item assignment

In [78]:
mytuple

(1, 2, 3)

In [82]:
mytuple.count(1)

1

In [83]:
mytuple

(1, 2, 3)

In [84]:
mytuple.index(3)

2

In [85]:
mytuple

(1, 2, 3)

In [86]:
mydicti = {"name":"TechPro", "course":"Cybersecurity"}

In [87]:
mydicti

{'name': 'TechPro', 'course': 'Cybersecurity'}

In [88]:
mydicti["course"] = "Data Science"

In [89]:
mydicti

{'name': 'TechPro', 'course': 'Data Science'}

In [90]:
mydicti.clear()

In [91]:
mydicti

{}

In [92]:
myset = {1, 2, 3, "ahmad"}

In [93]:
myset

{1, 2, 3, 'ahmad'}

as a set is not indexablel; we cannot reach it's elements, hence we cannot modify them

In [94]:
myset.add("data is the future")

In [95]:
myset

{1, 2, 3, 'ahmad', 'data is the future'}

In [98]:
[1, 1.2, True, "String",(1, 2), [1, 2],{1, 2},{"key":"value"}]

[1, 1.2, True, 'String', (1, 2), [1, 2], {1, 2}, {'key': 'value'}]

In [99]:
(1, 1.2, True, "String",(1, 2), [1, 2],{1, 2},{"key":"value"})

(1, 1.2, True, 'String', (1, 2), [1, 2], {1, 2}, {'key': 'value'})

In [100]:
type((1, 1.2, True, "String",(1, 2), [1, 2],{1, 2},{"key":"value"}))

tuple

In [104]:
{1, 1.2, True, "String",(1, 2)}

{(1, 2), 1, 1.2, 'String'}

In [ ]:
list, set, dict