Generate a list of squares of even numbers from 1 to 20:

In [2]:
[i ** 2 for i in range(1, 21) if i % 2 == 0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

Create a list containing elements common in two given lists:

In [3]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

[x for x in list1 if x in list2]

[3, 4]

bring words with more than three characters from a list of strings:

In [4]:
stringlist = ["ahmad", "ds", "tpe", "hi", "marhaba"]
[string for string in stringlist if len(string) > 3]

['ahmad', 'marhaba']

Generate a list of squares of odd numbers from a given list of integers:

In [7]:
numlist = list(range(0,11))
[num ** 2 for num in numlist if num % 2 == 1]

[1, 9, 25, 49, 81]

Extract vowels from a given string and store them in a list:

In [8]:
sentence = "hello all, hope you are enjoying the classes"
[char for char in sentence if char in "aeiou"]

['e', 'o', 'a', 'o', 'e', 'o', 'u', 'a', 'e', 'e', 'o', 'i', 'e', 'a', 'e']

Convert even numbers to "Even" and odd numbers to "Odd" from 1 to 10:

In [9]:
onetoten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
["Even" if num % 2 == 0 else "Odd" for num in onetoten]

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

Generate a list of squared numbers for positive integers and leave negative integers unchanged:

In [10]:
wholenums = [-2, 4, -3, 7, -9]
[num ** 2 if num > 0 else num for num in wholenums]

[-2, 16, -3, 49, -9]

Convert temperature from Celsius to Fahrenheit for each temperature in a list:

In [11]:
temp_in_cel = [22, 34, 5, 17, 42]
[((temp * 1.8) + 32) for temp in temp_in_cel]

[71.6, 93.2, 41.0, 62.6, 107.60000000000001]

bring out vowels and replace consonants with '*' in a given string:

In [13]:
sentence = "hello all, hope you are enjoying the classes"
print([char if char in "aeiou" else "*" for char in sentence])

['*', 'e', '*', '*', 'o', '*', 'a', '*', '*', '*', '*', '*', 'o', '*', 'e', '*', '*', 'o', 'u', '*', 'a', '*', 'e', '*', 'e', '*', '*', 'o', '*', 'i', '*', '*', '*', '*', '*', 'e', '*', '*', '*', 'a', '*', '*', 'e', '*']

Categorize numbers in a list into positive, negative, or zero:

In [14]:
numbers = [-3, -2, -1, 0, 1, 2, 3]
["positive"if num > 0 else "Negative" if num < 0 else "Zero" for num in numbers]

['Negative',
 'Negative',
 'Negative',
 'Zero',
 'positive',
 'positive',
 'positive']

### functions

def func_name(parameter(s)):
-    task/operation

In [15]:
print("hello")

hello

In [16]:
print(3452)

3452

In [17]:
def sum_square(x, y):
    print(x ** 2 + y ** 2)

In [18]:
sum_square(3, 4)

25

In [19]:
sum_square

In [20]:
print

In [21]:
sum_square()

TypeError: sum_square() missing 2 required positional arguments: 'x' and 'y'

In [22]:
sum_square(5)

TypeError: sum_square() missing 1 required positional argument: 'y'

In [23]:
sum_square(1,4,1)

TypeError: sum_square() takes 2 positional arguments but 3 were given

In [24]:
def sum_square_2(x, y):
    
    """This function prints the sum of square of two given numbers."""

    print(x ** 2 + y ** 2)

In [25]:
sum_square_2(3, 4)

25

In [26]:
def sum_square_3(x, y):
    
    "This function prints the sum of square of two given numbers."

    print(x ** 2 + y ** 2)

In [27]:
sum_square_3(3, 4)

25

In [29]:
def sum_square_4(x, y):

    print(x ** 2 + y ** 2)

    """This function prints the sum of square of two given numbers."""

In [30]:
sum_square_4(12, 5)

169

In [31]:
help(sum_square_2)

Help on function sum_square_2 in module __main__:

sum_square_2(x, y)
    This function prints the sum of square of two given numbers.

In [32]:
help(sum_square_4)

Help on function sum_square_4 in module __main__:

sum_square_4(x, y)

In [33]:
def multiplication(a, b):
    
    """This functions is to print the multiplication of two given numbers"""

    print(a * b)

In [34]:
multiplication(5, 8)

40

In [35]:
multiplication(2, 53)

106

In [42]:
num = multiplication(2, 53)

106

In [44]:
print(num)

None

In [45]:
def multiplication_2(a, b):
    
    """This functions is to print the multiplication of two given numbers"""

    return a * b

In [46]:
multiplication_2(2, 53)

106

In [47]:
num2 = multiplication_2(2, 53)

In [48]:
num2

106

In [49]:
num2 + 5

111

In [50]:
print("hello data enthusiasts")

hello data enthusiasts

In [51]:
string = print("hello data enthusiasts")

hello data enthusiasts

In [52]:
string

In [53]:
type(string)

NoneType

In [54]:
def proverb():
    print("women are human, and we are their children")

In [55]:
proverb()

women are human, and we are their children

In [56]:
proverb(1)

TypeError: proverb() takes 0 positional arguments but 1 was given

In [57]:
nesetbaba = proverb()

women are human, and we are their children

In [58]:
nesetbaba

In [59]:
def proverb_2():
    return "women are human, and we are their children"

In [60]:
proverb_2()

'women are human, and we are their children'

In [61]:
nesetbaba = proverb_2()

In [62]:
nesetbaba

'women are human, and we are their children'

In [63]:
def calculator(num1, num2, opr):

    if opr == "+":
        return num1 + num2
    elif opr == "-":
        return num1 - num2
    elif opr == "*":
        return num1 * num2
    elif opr == "/":
        return num1 / num2
    elif opr == "//":
        return num1 // num2
    elif opr == "%":
        return num1 % num2
    else:
        print("Error!! Please provide a proper operation")

In [64]:
calculator(42, 7, "//")

6

In [65]:
calculator(42, 7, "/")

6.0

In [66]:
calculator(42, 7, "%")

0

In [67]:
calculator(42, 7, "+")

49

In [68]:
calculator(42, 7, "*")

294

In [69]:
calculator(42, 7, "$")

Error!! Please provide a proper operation

In [71]:
calculator("techpro ", "education", "+")

'techpro education'

In [72]:
len("any string or iterable data")

27

In [73]:
def my_len(x):

    """This function will return the length, or number of elements in an iterable data"""

    counter = 0

    for element in x:
        counter += 1
    return counter

In [74]:
my_len("techpro")

7

In [75]:
my_len([1, 2, 3])

3

In [76]:
my_len({1, 2, 3, 4})

4

In [79]:
def int_len(y):

    """This function will return the length of an integer"""

    counter = 0
    for element in str(y):
        counter += 1
    return counter

In [80]:
int_len(12345)

5

In [81]:
int_len(847362)

6

In [82]:
len.__doc__

'Return the number of items in a container.'

In [83]:
my_len.__doc__

'This function will return the length, or number of elements in an iterable data'

In [84]:
def hypothenuse(c, d):

    """This function gives the hypothenuse of a right triangle."""

    return ((c ** 2 + d ** 2) ** 0.5)

In [85]:
hypothenuse(3, 4)

5.0

In [86]:
hypothenuse(12, 5)

13.0