In [ ]:
def odd_even(* number):
    num_list = []
    for i in number:

        if i % 2 == 1:
            num_list.append(i**2)
        else:
            num_list.append(i*2)
    return num_list

In [1]:
def divisibility_by_2(num):
    if num % 2 == 0:
        return f"the given number {num} is divisible by two"
    else:
        return f"the given number {num} is not  divisible by two"

In [2]:
divisibility_by_2(3)

'the given number 3 is not  divisible by two'

In [3]:
divisibility_by_2(4)

'the given number 4 is divisible by two'

In [4]:
divisibility_by_2(num = 5)

'the given number 5 is not  divisible by two'

In [5]:
def multiplication(num, num2):
    return num * num2

In [8]:
multiplication(5, 3)

15

In [6]:
multiplication(3, 5)

15

In [7]:
multiplication(num=3, num2=5)

15

In [9]:
def addition(a, b, c, d, e):
    return a+b+c+d+e

In [10]:
addition(1, 2, 3, 4, 5)

15

In [11]:
addition(1, 2, 3, 4)

TypeError: addition() missing 1 required positional argument: 'e'

In [58]:
def addition(* numbers):
    summation = 0
    for i in numbers:
        summation += i
    return summation

In [60]:
addition(number1 = 1,number2 =  2,number3 =  3)

TypeError: addition() got an unexpected keyword argument 'number1'

In [17]:
addition(1, 2, 3, 4)

10

In [19]:
addition(1, 2, 3, 4, 5, 6, 7)

28

In [20]:
addition()

0

In [21]:
addition(1)

1

In [23]:
addition(* [1, 2, 3, 4, 5])

15

In [28]:
def addition_iterable(numbers):
    summation = 0
    for i in numbers:
        summation += i
    return summation

In [29]:
addition_iterable([1, 2, 3, 4])

10

In [31]:
addition_iterable("hello")

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [32]:
def str_concatenation(numbers):
    mystr = ""
    for i in numbers:
        mystr +=i
    return mystr

In [38]:
str_concatenation(["hello", "it", "is", "an", "example"])

'helloitisanexample'

In [45]:
str_concatenation(["hello", "it", "is", "an", []])

TypeError: can only concatenate str (not "list") to str

In [46]:
str_concatenation(["hello", "it", "is", "an", ()])

TypeError: can only concatenate str (not "tuple") to str

In [33]:
str_concatenation("hello all")

'hello all'

In [35]:
str_concatenation([1, 2, 3])

TypeError: can only concatenate str (not "int") to str

In [37]:
str_concatenation(["hello", "it", "is", "an", "example"])

'helloitisanexample'

In [39]:
def list_concatenation(* lists):
    emptylist = []
    for i in lists:
        emptylist += i
    return emptylist

In [41]:
list_concatenation([1, 2, 3], ["hello"])

[1, 2, 3, 'hello']

In [43]:
list_concatenation("hello")

['h', 'e', 'l', 'l', 'o']

In [44]:
list_concatenation((1, 2, 3))

[1, 2, 3]

In [49]:
emptylist = []
for i in "hello":
    emptylist += i

In [50]:
emptylist

['h', 'e', 'l', 'l', 'o']

In [ ]:
def revers_str_kw2(** string):
    value_list = []
    key_list = []
    for key, value in string.items():
        key_list.append(key[::-1])
        value_list.append(value[::-1])
    return f"my key list in revers {key_list} and value list {value_list}"

In [51]:
myfamily = {"child1":"jason", "child2":"genca", "child3":"jane"}
myfamily

{'child1': 'jason', 'child2': 'genca', 'child3': 'jane'}

In [54]:
def remove_vowel(** kwdictionary):
    valueslist = []
    keyslist = []
    for key, value in kwdictionary.items():
        keyslist.append(key.replace("i", "y"))
        valueslist.append(value.replace("a", "A"))
    return f"keys: {keyslist}, values: {valueslist}"

In [55]:
remove_vowel(child1 = "jason", child2 = "genca", child3 = "jane")

"keys: ['chyld1', 'chyld2', 'chyld3'], values: ['jAson', 'gencA', 'jAne']"

In [56]:
remove_vowel("jason", "genca", "jane")

TypeError: remove_vowel() takes 0 positional arguments but 3 were given

In [ ]:
def remove_vowel(** kwdictionary):
    valueslist = []
    keyslist = []
    for key, value in kwdictionary.items():
        keyslist.append(key.replace("i", "y"))
        valueslist.append(value.replace("a", "A"))
    return f"keys: {keyslist}, values: {valueslist}"

In [61]:
remove_vowel(child1 = "jason", child2 = (1, 2, 3), child3 = "jane")

AttributeError: 'tuple' object has no attribute 'replace'