## Part 01

Write a Python code to print "Hello World".

In [1]:
print("Hello World")

Hello World

Correct the following code to print "Hello World": Print("Hello World").

In [3]:
print("Hello World")

Hello World

Fix the syntax error in the following code: print("Hello World" # if a parenthesis is opened, you must close.

In [4]:
print("Hello World")

Hello World

Fix the syntax error in the following code: print("hello world).

In [5]:
print("hello world")

hello world

Write a Python code to print "Hello" and "World" on separate lines.

In [6]:
print("Hello")
print("World")

Hello
World

In [7]:
print("Hello")
"World"

Hello

'World'

In [8]:
print("Hello\nWorld")

Hello
World

In [9]:
print("Hello","World",sep="\n")

Hello
World

Correct the following code to print "Hello" and "World" separately:

In [10]:
print("Hello")
"World"

Hello

'World'

In [11]:
print("Hello","World")

Hello World

In [12]:
print("Hello","World",sep="-")

Hello-World

Write a Python code to create a multi-line string and print it using triple quotes.

In [13]:
print("""This is 
      a sample
      multi line 
      string""")

This is
      a sample
      multi line
      string

Correct the syntax error in the following code:

In [14]:
print("""this 
      is a
        sample 
        string
        """)

this
      is a
        sample
        string

Fix the syntax error in the following code: print('hello world").

In [15]:
print('hello world")

SyntaxError: unterminated string literal (detected at line 1) (1762878097.py, line 1)

In [16]:
print('hello world"')

hello world"

In [17]:
print('hello world')

hello world

In [18]:
print("'hello world")

'hello world

In [19]:
print("hello world")

hello world

Correct the syntax error in the following code: print(""""""").

In [20]:
print(""""""")

SyntaxError: unterminated string literal (detected at line 1) (3465750001.py, line 1)

In [21]:
print("""""")

In [22]:
print("""""""")

In [23]:
print(""" " """)

 "

Write a Python code to print the string ' '.

In [26]:
print (" \'\'  ")

 ''

In [25]:
print("''")

''

What will be the output of the following code?

In [27]:
print("""""")
print("""""")
print("""" """)

"

## Part 02

### A) Creating variables

Declare a variable called name and assign it the value "John".

In [33]:
name = "John"
name

'John'

Create a variable named age and set it to 25.

In [34]:
age = 25
age

25

Initialize a variable named pi and assign it the value 3.14.

In [35]:
pi = 3.14
pi

3.14

Assign the string "Python" to a variable called language.

In [36]:
language = "Python"
language

'Python'

Declare a variable named is_student and set it to True.

In [37]:
is_student = True
is_student

True

### B) Variable Names

Which of the following variable names is valid in Python: my_var, 123var, variable_name, or Var$?

In [39]:
my_var = 89
my_var

89

In [40]:
123var = 345

SyntaxError: invalid decimal literal (2876293152.py, line 1)

In [41]:
variable_name = "Name"
variable_name

'Name'

In [42]:
Var$ = "Ahmad" # Name of variable cannot be same as a python function

SyntaxError: invalid syntax (284543604.py, line 1)

In [43]:
print = "this is true"

In [ ]:
input()

True or False: Variable names in Python are case-sensitive.

In [45]:
name = "Ahmad"
Name = "Jawid"

In [46]:
name

'Ahmad'

In [47]:
Name

'Jawid'

Is my_variable a valid variable name?

In [48]:
"Yes"

'Yes'

Identify the incorrect variable name: my_variable, MyVariable, my-variable, or my_variable_123?

In [49]:
"my-variable"

'my-variable'

Which of the following is a valid variable name: my_variable, my variable, or my-variable?

In [50]:
my_variable = "hello"

### C) Declaring multiple variables

Create three variables x, y, and z and assign them values 10, 20, and 30 respectively in a single line.

In [1]:
x, y, z = 10, 20, 30
print(x,y,z)

10 20 30

Initialize two variables a and b with the same value of 5 in a single line.

In [2]:
a = b = 5
print(a,b)

5 5

### D) Data Types and Conversion

Convert the string "10" to an integer.

In [3]:
int("10")

10

Convert the integer 25 to a string.

In [4]:
str(25)

'25'

Change the float value 3.14 to an integer.

In [5]:
int(3.14)

3

Convert the boolean value True to an integer.

In [6]:
int(True)

1

Convert the string "3.14" to a float.

In [7]:
float("3.14")

3.14

Convert the string "3.14" to a int.

In [8]:
stst = float("3.14")
stst = int(stst)
type (stst)

int

### E) Arithmetic Operations

Perform addition of 10 and 5.

In [9]:
10 + 5

15

Calculate the result of 25 minus 7.

In [10]:
25 - 7

18

Multiply 5 by 4.

In [11]:
5 * 4

20

Divide 20 by 3.

In [13]:
20 / 3

6.666666666666667

Calculate the integer division of 21 by 4.

In [15]:
21 // 4 
# the integer division is the floor division

5

Find the remainder when 17 is divided by 5.

In [16]:
17 % 5

2

Calculate 2 raised to the power of 5.

In [17]:
2 ** 5

32

Compute the square root of 144.

In [18]:
144 ** 0.5 # square root == 1/2 == 0.5

12.0

Calculate the value of 7 squared.

In [19]:
7 ** 2

49

What is the result of 9 raised to the power of 0?

In [20]:
9 ** 0

1

### F) Variable Shortcuts

Given x = 10, perform the operation x += 5. What is the new value of x?

In [5]:
x = 10
x = x + 5

In [6]:
x

15

In [7]:
x = 10
x += 5

In [8]:
x

15

If y = 8, apply the operation y -= 3. What is the updated value of y?

In [9]:
y = 8
y -= 3

In [10]:
y

5

Initialize a with the value 15. Use the shortcut a *= 3. What is the new value of a?

In [11]:
a = 15
a *= 3

In [12]:
a

45

If b = 20, apply the operation b /= 4. What is the resulting value of b?

In [14]:
b = 20
b /= 4
b

5.0

Start with c = 5. Use the shortcut c += 10. What is the final value of c?

In [15]:
c = 5 # if division or a float data is involved, the result will be float.
c += 10
c

15

Given d = 12, perform d //= 4. What is the updated value of d?

In [16]:
d = 12
d //= 4
d

3

In [17]:
d = 22
d //= 7
d

3

Initialize e with the value 25. Use the shortcut e **= 2. What is the new value of e?

If f = 16, apply the operation f %= 7. What is the resulting value of f?

Start with g = 7. Use the shortcut g *= 3. What is the final value of g?

Given h = 30, perform h //= 5. What is the updated value of h?

## Part 03

Modify the following codes to print the expected output:

In [21]:
print("Hello", "World") # Expected Output Hello World

Hello World

In [23]:
print(1,2,3,sep = "-") # expected output 1-2-3

1-2-3

In [24]:
print("apple", "banana", "cherry",sep = ", ") # expected output apple, banana, cherry

apple, banana, cherry

In [25]:
print(10, 20, 30,sep = ": ") # expected output 10: 20: 30

10: 20: 30

Modify the following Python code snippet to print "Good" and "Morning" on separate lines. Make sure not to add another print function. Expected output:

Good

Morning

In [28]:
print("Good","Morning", sep="\n")

Good
Morning

In [29]:
print("Good","Morning",sep="\n",end="\n")

Good
Morning

Prompt the user to enter their name and greet them with "Hello, [name]! How are you today?"

In [35]:
name = input("Enter your name")
print("Hello,", name, "! How are you today?")

Hello, ahmad ! How are you today?

Ask the user to input their birth year and calculate their current age. Then, print a message stating their age.

In [39]:
year_of_b = input("Write your year of birth")
age = 2024 - int(year_of_b)
print("You are", age, "years old.")

You are 48 years old.

Request the user to input two numbers, add them together, and display the result.

Ask the user to input their favorite color and print a message including their input.

Prompt the user to input their age in months and convert it to years. Then, display the result.